body {
  margin: 0;
  padding: 0;
  background-color: #1b1a1a;
}

* {
  font-family: "Bubblegum Sans", cursive;
  color: #ffffff;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  grid-gap: 7px;
  width: 30%;
  height: auto;
  position: relative;
}

.level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  font-weight: bolder;
  z-index: 10;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: #1b1a1a;
  color: #ffffff;
  width: 170px;
  height: 170px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 5px solid #1a1b1a;
}

.color-button {
  transition: transform 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    filter 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  will-change: transform, filter;
  border: none;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;
  filter: brightness(50%);
}

.color-button:hover {
  opacity: 1;
  transform: scale(1.01);
  filter: brightness(100%);
  cursor: pointer;
}

.color-button.active {
  transform: scale(1.02);
  filter: brightness(500%) saturate(10);
  cursor: pointer;
}

.color-button.active:hover {
  opacity: 1;
  transform: scale(1.03);
  filter: brightness(500%) saturate(10);
  cursor: auto;
}

.red-button {
  border-radius: 100% 20px 20px 20px;
}

.green-button {
  border-radius: 20px 100% 20px 20px;
}

.blue-button {
  border-radius: 20px 20px 20px 100%;
}

.yellow-button {
  border-radius: 20px 20px 100% 20px;
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .grid {
    width: 60%; /* Adjust width for smaller screens */
    grid-gap: 12px; /* Adjust gap for smaller screens */
  }
  .color-button {
    padding: 15px; /* Adjust padding for smaller screens */
  }
}

@media (max-width: 480px) {
  .grid {
    width: 80%; /* Adjust width for very small screens */
    grid-gap: 8px; /* Adjust gap for very small screens */
  }
  .color-button {
    padding: 10px; /* Adjust padding for very small screens */
  }
}

.grayed-out {
  filter: brightness(0.5) contrast(0.2);
  pointer-events: none;
  transition: all 0.3s ease;
}

.correct,
.incorrect,
.message {
  font-size: 30px;
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  left: 10px;
  gap: 10px;
  transition: transform 0.2s ease-in-out;
}

.reset-button,
.black-and-white-button,
.start-button,
.repeat-button {
  width: 150px;
  padding: 10px;
  font-size: 18px;
  border-radius: 100px;
  background-color: #ffffff;
  color: #000000;
  border: none;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 20px rgba(255, 255, 255, 0.3);
  transition: all 0.3s ease-in-out;
}

.reset-button:hover,
.black-and-white-button:hover,
.start-button:hover,
.repeat-button:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.7),
    0 0 30px rgba(255, 255, 255, 0.5);
}

.reset-button:disabled,
.black-and-white-button:disabled,
.start-button:disabled,
.repeat-button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
  transition: opacity 0.3s ease-in-out;
  box-shadow: 0 0 5px rgba(255, 255, 255, 0.3),
    0 0 10px rgba(255, 255, 255, 0.2);
}

#leaderboard {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 30px;
  text-align: left;
  padding: 10px;
}

#leaderboard ul {
  list-style-type: none;
  padding: 0;
}

#leaderboard ul li {
  font-size: 20px;
  margin: 10px 0;
  padding: 5px;
  background-color: transparent;
  transition: all 0.3s ease;
}

#leaderboard ul li:hover {
  color: #1dc54d;
  transform: scale(1.1);
}
