body {
  margin: 0;
  padding: 0;
  background-color: #1c1a1a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

* {
  font-family: "Bungee", sans-serif;
  font-weight: 500;
  font-style: normal;
  color: #d7d7d7;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1.1vmin;
  width: 55vmin;
  height: 55vmin;
  max-width: 600px;
  max-height: 600px;
  position: relative;
}

.level {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 9vmin;
  z-index: 10;
  box-shadow: 0 0 10px #1c1a1a;
  background-color: #1b1a1a;
  color: #d7d7d7;
  width: 18vmin;
  height: 18vmin;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 0.5vmin solid #1a1b1a;
  user-select: none;
}

.color-button {
  transition: transform 0.2s cubic-bezier(0.25, 0.46, 0.45, 0.94),
    filter 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  border: none;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  aspect-ratio: 1 / 1;
  filter: brightness(100%);
  user-select: none;
}

.color-button:hover {
  opacity: 1;
  transform: scale(1.04);
  filter: brightness(100%);
  cursor: pointer;
}

.no-hover {
  pointer-events: none;
}

.color-button.active {
  transform: scale(1.02);
  filter: brightness(10%);
  cursor: pointer;
}

.red-button {
  border-radius: 100% 10% 10% 10%;
  background-color: #ff0000;
}

.green-button {
  border-radius: 10% 100% 10% 10%;
  background-color: #00ff00;
}

.blue-button {
  border-radius: 10% 10% 10% 100%;
  background-color: #0000ff;
}

.yellow-button {
  border-radius: 10% 10% 100% 10%;
  background-color: #ffff00;
}

.grayed-out {
  filter: brightness(0.5) contrast(0.5) grayscale(5);
  pointer-events: none;
  transition: all 0.3s ease;
}

.message {
  position: absolute;
  top: 1vmin;
  left: 50%;
  transform: translateX(-50%);
  padding: 1vmin;
  z-index: 500;
  font-size: 4vmin;
  text-align: center;
  text-shadow: #1c1a1a 0 0 30px;
  pointer-events: none;
}

.control-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  bottom: 2vmin;
  left: 2vmin;
  gap: 2vmin;
  z-index: 1001;
  transition: transform 0.2s ease-in-out;
  user-select: none;
}

.reset-button,
.black-and-white-button,
.start-button,
.repeat-button {
  width: 20vmin;
  padding: 1vmin;
  font-size: 2vmin;
  border-radius: 100px;
  background-color: #d7d7d7;
  color: #000000;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.overlay-active .reset-button {
  margin-top: 3vmin;
}

.reset-button:hover,
.black-and-white-button:hover,
.start-button:hover,
.repeat-button:hover {
  background-color: #1b1a1a;
  color: #d7d7d7;
  box-shadow: 0 0 15px #56df66b3, 0 0 30px #56df66b3;
}

.reset-button:disabled,
.black-and-white-button:disabled,
.start-button:disabled,
.repeat-button:disabled {
  opacity: 0.1;
  cursor: not-allowed;
  transition: all 0.3s ease-in-out;
}

.reset-button:disabled:hover,
.black-and-white-button:disabled:hover,
.start-button:disabled:hover,
.repeat-button:disabled:hover {
  opacity: 0.1;
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

#high-score {
  position: absolute;
  top: 1vmin;
  left: 1vmin;
  font-size: 2.5vmin;
  pointer-events: none;
}

.game-over-overlay {
  position: fixed;
  top: 50%;
  left: 0;
  width: 100%;
  height: 30vmin;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d7d7d7;
  font-size: 2em;
  text-align: center;
  z-index: 1000;
  visibility: hidden;
  transform: translateY(-50%);
}

.game-over-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.game-over-text {
  font-size: 9vmin;
}

.game-over-score {
  font-size: 3vmin;
}

@media (max-width: 768px) {
  .grid {
    width: 80vmin;
    height: 80vmin;
  }

  .level {
    font-size: 12vmin;
    width: 20vmin;
    height: 20vmin;
  }

  .control-container {
    flex-direction: row;
    justify-content: center;
    bottom: 2vmin;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
  }

  .reset-button,
  .black-and-white-button,
  .start-button,
  .repeat-button {
    width: 20vmin;
    font-size: 2.5vmin;
  }

  #high-score {
    top: 1vmin;
    left: 1vmin;
    font-size: 2vmin;
  }

  .message {
    top: 1vmin;
    font-size: 4vmin;
  }
}

@media (max-width: 480px) {
  .grid {
    width: 85vmin;
    height: 85vmin;
  }

  .level {
    font-size: 12vmin;
    width: 20vmin;
    height: 20vmin;
  }

  .control-container {
    flex-wrap: wrap;
    justify-content: space-around;
    bottom: 1vmin;
  }

  .reset-button,
  .black-and-white-button,
  .start-button,
  .repeat-button {
    width: 40vmin;
    font-size: 3vmin;
    margin-bottom: 1vmin;
  }

  #high-score {
    bottom: 25vmin;
    font-size: 3vmin;
  }

  .message {
    font-size: 5vmin;
  }

  .game-over-text {
    font-size: 7vmin;
  }

  .game-over-score {
    font-size: 4vmin;
  }
}

.overlay-active .control-container button:not(.reset-button),
.overlay-active #high-score,
.overlay-active .level .overlay-active .message {
  display: none;
}

@media (hover: hover) {
}

@media (hover: none) {
  .reset-button,
  .black-and-white-button,
  .start-button,
  .repeat-button {
    border-radius: 100px;
    background-color: #d7d7d7;
    color: #000000;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    -webkit-tap-highlight-color: transparent;
  }

  .reset-button:hover,
  .black-and-white-button:hover,
  .start-button:hover,
  .repeat-button:hover {
    background-color: #d7d7d7;
    color: #000000;
    box-shadow: none;
  }

  .color-button {
    user-select: none;
    -webkit-tap-highlight-color: transparent;
  }
  .color-button:hover {
    transform: none;
    filter: brightness(100%);
    cursor: pointer;
  }

  .color-button.active {
    transform: none;
    filter: brightness(10%);
    cursor: pointer;
  }
}
